.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #370617;
}

.item {
  display: flex;
  width: 468px;
  height: 160px;
  padding: 20px;
  background-color: #f48c06;
  border-radius: 8px;
}

.box {
  flex: 0 0 auto;
  width: 78px;
  min-height: 78px;
  border-radius: 4px;
  background-color: #9d0208;
}

.item1 {
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
}

.item2 {
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.item3 {
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.item4 {
  justify-content: space-between;
  align-items: flex-start;
}

.item4 .box:nth-child(3) {
  align-self: flex-end;
}

.item5 {
  justify-content: center;
  align-items: baseline;
  gap: 54px;
}

.item5 .box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font: 12px Arial, sans-serif;
}

.item5 .box:nth-child(1),
.item5 .box:nth-child(3) {
  min-height: 118px;
}

.item5 .box:nth-child(2) {
  min-height: 64px;
}

.item6 {
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.wide-box {
  flex-grow: 1;
}
